<!DOCTYPE html>
<html lang="zxx" class="js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <link rel="shortcut icon" href="/images/nidc1.png">
    <title>Forgot | National Internet Datacenter</title>
    <link rel="stylesheet" href="/assets/css/dashlitee1e3.css?ver=3.2.4">
    <link id="skin-default" rel="stylesheet" href="/assets/css/themee1e3.css?ver=3.2.4">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91615293-4"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-91615293-4');</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .sgn {
            background-color: #219d95 !important;
            outline: none !important;
            border: none !important;
        }
    </style>
</head>

<body class="nk-body npc-general pg-auth" style="background-color: #f7f7f7;">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                        <div class="brand-logo pb-4 text-center"><a href="../../index.html" class="logo-link"><img
                                    class="logo-light logo-img logo-img-lg" src="/images/nidc.jpg"
                                    srcset="/images/nidc.jpg 2x" alt="logo"><img class="logo-dark logo-img logo-img-lg"
                                    src="/images/nidc.jpg" srcset="/images/nidc.jpg 2x" alt="logo-dark"></a></div>

                        <!-- <div class="progress progress-lg mb-3">
                            <div class="progress-bar" style=" background-color: #219d95; font-weight: bold;"
                                data-progress="50">Step 1 of 2
                            </div>
                        </div> -->
                        <div class="text-center mb-3">
                            <h5></h5>
                        </div>
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-sm">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Welcome to NIDC</h5>
                                        <div class="nk-block-des">
                                            <p>Enter your email</p>
                                        </div>
                                    </div>
                                </div>
                                <form action="" method="post" class="form-validate" id="requestorForm">


                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-left">
                                                <em class="icon ni ni-mail"></em>
                                            </div><input type="text" class="form-control " id="emailAddress"
                                                placeholder="Enter your email " name="emailAddress" required>
                                        </div>
                                    </div>
                                    <div class="form-group" id="gotoVerify"><button class="btn btn-lg btn-primary btn-block sgn"
                                            id="submitBtn">submit</button></div>
                                    <button class="btn btn-lg btn-primary btn-block sgn" id="loadingBtn" type="button"
                                        style="display: none;" disabled> <span class="spinner-border spinner-border-sm"
                                            role="status" aria-hidden="true"></span> <span>Loading...</span> </button>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;"></div>
                    <%-include('footer1')%>
                </div>
            </div>
        </div>
    </div>
    <div class="pmo-lv pmo-dark"><a class="pmo-close" href="#"><em class="ni ni-cross"></em></a><a class="pmo-wrap"
            target="_blank" href="https://softnio.com/get-early-access/">
            <div class="pmo-text text-white">Looking for functional script for Investment Platform? Check out <em
                    class="ni ni-arrow-long-right"></em></div>
        </a></div><a class="pmo-st pmo-dark" target="_blank" href="https://softnio.com/get-early-access/">
        <div class="pmo-st-img"><img src="/images/landing/promo-investorm.png" alt="Investorm"></div>
        <div class="pmo-st-text">Looking for Advanced <br> Investment Platform?</div>
    </a>
    <script src="/assets/js/bundlee1e3.js?ver=3.2.4"></script>
    <script src="/assets/js/scriptse1e3.js?ver=3.2.4"></script>
    <script src="/assets/js/demo-settingse1e3.js?ver=3.2.4"></script>
    <script src="/assets/js/forgot.js"></script>
    <script>
        document.getElementById("currentYear").textContent = new Date().getFullYear();
    </script>

</html>